footer{
  background-color: #eee;
  font-size: 12px;
}
footer .fnb{
  
}
footer .fnb{
  
  width: auto;
}
footer .fnb li{
  
  padding: 0;
  width: auto;
}
footer .fnb li a{
  font-size: 12px;
  padding: 5px 10px;
  color: #000;
}
footer .up{
  margin-bottom: 50px;
}
footer h1{
  font-size: 0;
}
footer h1 a{
  width: 166px;
  height: 56px;
  display: block;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}
footer .up>div h1,
footer .up>div h2,
footer .up>ul li h2{
  margin-top: 0;
  line-height: 1;
}
footer p{
  font-weight: 600;
}
footer address span{
  border: 1px solid #ccc;
  margin: 0 5px;
  height: 10px;
  display: inline-block;
}
footer address strong{
  line-height: 3;
}
footer .left span.sns {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
footer .left span.sns a{
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
footer .left span.sns  a:nth-child(1){
  background-image: url(../img/yt_icon.png);
}
footer .left span.sns a:nth-child(2){
  background-image: url(../img/is_icon.png);
}
footer .left span.sns a:nth-child(3){
  background-image: url(../img/kt_icon.png);
}
footer .center{
}
footer .center p:nth-child(2){
  line-height: 1.6;
  font-size: 2.5vw;
}
footer .center span{
  display: flex;
  width: 100%;
}
footer .center span a{
  width: 110px;
  color: #000;
  padding: 5px 10px;
  text-align: center;
  line-height: 2.5;
  display: block;
  border: 1px solid ;
  font-size: 10px;
  margin-right: 5px;
  box-sizing: border-box;
}
footer .down select{
  float: right;
}
footer .right li h2{
  margin-bottom: 30px;
}
footer .right li{
  margin-bottom: 30px;
}
footer .right a{
  color: #000;
}
@media screen and (min-width:992px) and (max-width:1199px){
  footer .wrap{
    padding: 0 15px;
  }
  .up .right li{
    position: relative;
  }
  .up .right a{
    position: absolute;
    top:8px;
    right: 30px;
    font-size: 11px;
  }
}