@media screen and (max-width:513px){
  .h2{
    font-size: 6vw !important;
  }
  #title .wtleft .tleft p{
   font-size: 2.8vw !important;
   line-height: 12vw;
}
  #title .wtleft .tleft a{
    width: 28vw !important;
    line-height: 6vw !important;
  }
  #recommand hgroup h2{
    font-size: 3.2vw !important;
  }
  #recommand hgroup h3{
    font-size: 4.5vw !important;
  }
  #recommand hgroup a{
    width: 28vw !important;
    line-height: 6vw !important;
  }
  #newarrival hgroup a{
    width: 28vw !important;
    line-height: 6vw !important;
  }
  footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .row{
    margin: initial;
  }
  footer .up{
    flex-wrap: nowrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: initial;
  }
  footer .left{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100% !important;
  }
  address{
    color: #000 !important;
  }
  footer .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
  footer .center span {
    justify-content: center;
    width: max-content;
  }
  footer .center p:nth-child(2){
    line-height: 1.6;
    font-size: 5vw;
    color: #000 !important;
  }
  footer .right{
    flex-direction: column;
  }
  footer .right li{
    padding: initial;
  }
  footer .down{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .down ul{
    flex-direction: column;
  }
}
@media screen and (max-width:768px){
  .h2{
    font-size: 5vw;
  }
  #title .wtleft .tleft p{
   font-size: 2vw;
   line-height: 12vw;
}
  #title .wtleft .tleft a{
    width: 20vw;
    line-height: 5vw;
  }
  #recommand hgroup h2{
    font-size: 2vw;
  }
  #recommand hgroup h3{
    font-size: 3.5vw;
  }
  #recommand hgroup a{
    width: 20vw;
    line-height: 5vw;
  }
  #newarrival hgroup a{
    width: 20vw;
    line-height: 5vw;
  }
.navbar-collapse.collapse{
    display: none !important;
  }
  .navbar-toggle{
    display: block;
  }
  header .navbar-header{
    position: relative;
  }
  header .navbar-header{
    display: block;
  }
  header .container {
  position: relative;
  padding-top: 30px;
}
  .navbar-default .navbar-toggle{
    border-color: transparent;
    margin: inherit;
    padding-top: 0;
  }
  .navbar-toggle:hover{
    background-color: transparent !important;
  }
  header .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3px;
}
  .navbar-default .navbar-brand a {
  font-size: 30px;
  font-weight: bold;
  padding-left: 0 !important;
}
  .container {
  max-width: 750px;
  }
  .navbar-default {
  background-image:none;
  box-shadow: none;
  background-color: transparent;
  border: navajowhite;
  }
  .navbar-header {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left:auto;
}
/*  title  */
  #title .container{
    padding: 0 40px;
  }
  #title .wrap{
    
  }
  #title .tslist{
    padding-left:0px;
  }
  #title .wtleft{
    position: relative;
    height: 200px;
    left: 0;
  }
  #title .wtleft .tleft{
    margin-top: 50px;
    width: 100%;
  }
  button.slick-arrow.slick-prev{
    left: -50px;
  }  button.slick-arrow.slick-next{
    right: -50px;
  }
  #title .wtleft .tleft a{
   
  }
  .tleftShow{
  left: 10px !important;
  }
}
@media screen and (max-width:991px){
  footer .up{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  footer .left{
    width: 60%;
  }
  footer .center{
    width: 40%;
  }
  footer .right li{
    padding-left: initial;
  }
  footer .right{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
  }
  footer .down{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .down ul{
    display: flex;
  }
}
@media screen and (max-width:1200px){
  #youtube iframe{
    height: 56.239316239316239vw;
  }
    header .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  padding-top: 3px;
  }
  header .navbar-collapse.collapse{
    margin-top: -10px;
    margin-bottom: 12px;
  }
  #title .container{
    position: relative;
  }
  #title .wtleft .tleft h2{
  /*! font-size: 2.6vw; */
  }  
}